<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Foodie"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECommerce_App">

        <!-- Splash -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Sign Up -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- Home -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Restaurants -->
        <activity
            android:name=".RestaurantsActivity"
            android:exported="false"/>

        <!-- Category -->
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />

        <!-- Product Details -->
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />

        <!-- Cart -->
        <activity
            android:name=".CartActivity"
            android:exported="false" />

        <!-- Track Order -->
        <activity
            android:name=".OrdersActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Search -->
        <activity
            android:name=".SearchActivity"
            android:exported="false" />

        <!-- Offers-->
        <activity
            android:name=".OffersActivity"
            android:exported="false" />

        <!-- Favorites-->
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />

        <!-- Profile -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
    </application>

</manifest>